@charset "utf-8";
@import url("base.css");

/***************************************************************************
 *
 * COMMON STYLE
 *
 ***************************************************************************/

body {
    background-color: #FFFFFF;
    font-size: 14px;
    line-height: 1.5;
    color: #333333;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear-fix {
    clear: both;
}

.wraper {
    width: 1104px;
    margin: 0 auto;
}
