{% load static %}
<div id="Content">
    <div id="mainNews" class="clearfix">
      <img alt="image-main-news" src="{% static 'home/img/myWebsite/indra5.jpg' %}">
      <div id="detailMainNews">
        <span id="tileMainNews">Thủ môn Thái Lan ấm ức về pha đá lại phạt đền trong trận đấu gặp Việt Nam</span>
        <p>Tình huống tranh cãi nhất trong trận U22 Thái Lan vs U22 Việt Nam chính là pha sút phạt đền hỏng ăn của Tấn Sinh nhưng sau đó trọng tài lại quyết định cho đội bóng áo đỏ thực hiện lại quả phạt đền.
        </p>
        <a id="readMainNews" href="console/aboutus">READ MORE &#187;</a>
      </div>
    </div>
    <div id="otherNews" class="clearfix">
      <div id="columnFirst" class="box">
        <div class="news">
          <span class="titleNews">Các tín đồ Sài thành shopping tại UNIQLO sáng nay: Bill vài ba triệu là bình thường, khen nức ...</span><br>
          <span class="day">12th December 2019</span><br>
          <a href="#">Read The Full Story &#187;</a>
          <img alt="news-image" src="{% static 'home/img/myWebsite/news1.jpg' %}">
        </div>
        <div class="news">
          <span class="titleNews">Nguồn tin từ Hàn Quốc chỉ ra 3 công ty giải trí "đi cửa sau" tại "Produce", loạt thần tượng sáng giá vào diện tình nghi</span><br>
          <span class="day">12th December 2019</span><br>
          <a href="#">Read The Full Story &#187;</a>
          <img alt="news-image" src="{% static 'home/img/myWebsite/news3.jpg' %}">
        </div>
        <div class="news">
          <span class="titleNews">Góc chạnh lòng: Ánh Viên ngủ ngon lành dưới sàn đất trước giờ bơi chung kết ở SEA ...</span><br>
          <span class="day">12th December 2019</span><br>
          <a href="#">Read The Full Story &#187;</a>
          <img alt="news-image" src="{% static 'home/img/myWebsite/news4.jpg' %}">
        </div>                      
      </div>
      <div id="columnSecond" class="box">
        <div class="news">
          <span class="titleNews">Đội nhà bị loại sớm, danh thủ người Thái buồn bã than thở: "U22 Việt Nam đi tiếp vì sử dụng cầu thủ quá tuổi"</span><br>
          <span class="day">12th December 2019</span><br>
          <a href="#">Read The Full Story &#187;</a>
          <img alt="news-image" src="{% static 'home/img/myWebsite/news2.jpg' %}">
        </div>          
        <div class="news">
          <span class="titleNews">“Thiên thần streamer” Phương Anh Payo: “Mình đã từ bỏ nghề streamer với thu nhập khủng để tập trung cho giấc mơ của riêng mình”</span><br>
          <span class="day">12th December 2019</span><br>
          <a href="#">Read The Full Story &#187;</a>
          <img alt="news-image" src="{% static 'home/img/myWebsite/news5.jpg' %}">
        </div>
        <div class="news">
          <span class="titleNews">6 "tuyển thủ" sẽ tiến vào Chung kết Beck’Stage Battle Rap: Quá xứng đáng với từ "Unexpected", hứa hẹn những màn đấu rap đỉnh cao chưa từng có!</span><br>
          <span class="day">12th December 2019</span><br>
          <a href="#">Read The Full Story &#187;</a>
          <img alt="news-image" src="{% static 'home/img/myWebsite/news6.jpg' %}">
        </div>                      
      </div>
      <div id="columnThird" class="box">
        <div class="news">
          <span class="titleNews">Huyme, Ngọc Thảo hay Ông Thoại Liên cứ mãi F.A giữa một hội bạn đã rào rào kết hôn - sinh con: Nhìn mà sốt ruột á!</span><br>
          <span class="day">12th December 2019</span><br>
          <a href="#">Read The Full Story &#187;</a>
          <img alt="news-image" src="{% static 'home/img/myWebsite/news7.jpg' %}">
        </div>
        <div class="news">
          <span class="titleNews">Dân mạng nhức mắt vì góc check-in nổi tiếng ở chợ Đà Lạt bị phá hoại, chằng chịt hình graffiti trên tường</span><br>
          <span class="day">12th December 2019</span><br>
          <a href="#">Read The Full Story &#187;</a>
          <img alt="news-image" src="{% static 'home/img/myWebsite/news8.jpg' %}">
        </div>
        <div class="news">
          <span class="titleNews">Thầy Park bước qua bắt tay HLV U22 Singapore: Khoảnh khắc được chia sẻ nhiều nhất MXH</span><br>
          <span class="day">12th December 2019</span><br>
          <a href="#">Read The Full Story &#187;</a>
          <img alt="news-image" src="{% static 'home/img/myWebsite/news10.jpg' %}">
        </div>
        <div class="news">
          <span class="titleNews">Dân mạng cãi nhau kịch liệt khi thấy ảnh Midu "cosplay" nhân vật cầm đầu gà: Là tài khoản fake hại Midu hay do cô nàng cũng giỡn quá đà?</span><br>
          <span class="day">12th December 2019</span><br>
          <a href="#">Read The Full Story &#187;</a>
          <img alt="news-image" src="{% static 'home/img/myWebsite/news9.jpg' %}">
        </div>                      
      </div>
    </div>
  
      