{% load static %}
<div id="Footer">
    <div id="footerContent" class="clearfix">
      <div id="headContact" class="footer-contact-content">
        <span class="footer-contact-titile">Thời sự</span>
        <span class="footer-contact-detail">Chính trị<br>Pháp luật<br>Dân sinh<br>Quyền được biết<br>Phóng sự / Điều tra<br>Quốc phòng</span>
      </div>
      <div class="footer-contact-content">
        <span class="footer-contact-titile">Giới trẻ</span>
        <span class="footer-contact-detail">Cuộc sống<br>Tình cảm<br>Ăn chơi<br>Thế giới mạng<br>Kết nối<br>Việc làm</span>
      </div>
      <div class="footer-contact-content">
        <span class="footer-contact-titile">Sức khỏe</span>
        <span class="footer-contact-detail">Làm Đẹp<br>Khỏe đẹp mỗi ngày<br>Giới tính<br>Sống vui vẻ 
        </span>
      </div>
      <div class="footer-contact-content">
        <span class="footer-contact-titile">Thế giới</span>
        <span class="footer-contact-detail">Kinh tế thế giới<br>Quân sự<br>Hồ sơ<br>Góc nhìn<br>Người Việt năm châu<br>Chuyện lạ</span>
      </div>
      <div id="tailContact" class="footer-contact-content">
        <span class="footer-contact-titile">Văn hóa</span>
        <span class="footer-contact-detail">Điện ảnh<br>Truyền hình<br>Câu chuyện văn hóa<br>Câu chuyện nghệ sĩ<br>Thành phố tôi yêu<br>Văn hóa dân tộc</span>
      </div> 
       <div id="tailContact" class="footer-contact-content">
        <span class="footer-contact-titile">Đời sống</span>
        <span class="footer-contact-detail">Người sống quanh ta<br>Gia đình<br>Ẩm thực<br>Cộng đồng<br>Spa - thẩm mỹ<br>Sống xanh</span>
      </div>          
    </div>
   </div>      
  