{% load static %}
<div id="Header">
    <div id="menuTop" class="clearfix">
      <ul>
        <li><a href="#">Sign Up |</a></li>
        <li><a href="#">Login |</a></li>
        <li><a href="#">RSS Feeds |</a></li>
        <li><a href="#">Archived News</a></li>
      </ul>
      <div id="searchContainer">
        <form action="/">
          <input type="text" name="search">
          <button type="submit"><img alt= "icon-look-up" src="{% static 'home/img/common/iconsearch.jpg' %}"></button>
        </form>
      </div>
    </div>
    <div id="headPage" class="clearfix">
      <div id="logo">
        <img alt="logo" src="{% static 'home/img/common/Capture.jpg' %}">
      </div>
    </div>
    <div id="menuBar" class="clearfix">
   
      <ul>
        <li><a class="active" href="/">HOME</a></li>
        <li><a href="#">Thời sự</a></li>
        <li><a href="#">Giới trẻ</a></li>
        <li><a href="#">Sức khỏe</a></li>
        <li><a href="#">Thế giới</a></li>
        <li><a href="#">Văn Hóa</a></li>
        <li><a href="#">Đời Sống</a></li>
      </ul>
     
    </div>              
  </div>