{% extends "layout/main.html" %}
{% load static %}
{% block content %}
<div id="Content">
    <div id="mainNews" class="clearfix">
      <div id="detailMainNews">
        <span id="tileMainNews">Thủ môn Thái Lan ấm ức về pha đá lại phạt đền trong trận đấu gặp Việt Nam</span>
        <p>Tình huống tranh cãi nhất trong trận U22 Thái Lan vs U22 Việt Nam chính là pha sút phạt đền hỏng ăn của Tấn Sinh nhưng sau đó trọng tài lại quyết định cho đội bóng áo đỏ thực hiện lại quả phạt đền.
        </p>
        <p>
            Vào sáng 06/12, U22 Thái Lan sẽ về nước sau khi bị loại khỏi SEA Games 2019. Trận hòa 2-2 với U22 Việt Nam đã khiến đoàn quân của HLV Akira Nishino thất bại trong việc giành vé vào bán kết. Tuy nhiên dư âm của nó thì vẫn chưa thể lặng xuống. 
            <br>
            Trước khi về nước, thủ thành Nont Muangngam, người bắt chính cho U22 Thái Lan trong trận đấu tối ngày 05/12 đã lên tiếng về tình huống trọng tài cho thực hiện lại quả phạt đền trong hiệp 2. Anh vẫn chưa hết tức giận khi nghĩ về quyết định đó của trọng tài chính.
            <br>
            "Tôi đã nghiên cứu kỹ video về các cầu thủ hay sút penalty của Việt Nam. Tôi biết cầu thủ số 3 (Tấn Sinh) thích sút vào góc trái và tôi đã bay người về hướng đó. Tuy nhiên sau đó trọng tài đã cho thực hiện lại và người sút lần này là Tiến Linh. Hãy thừa nhận rằng đó là một quyết định đáng xấu hổ. Tôi nghĩ rằng đó là pha bóng hợp lệ, tất cả mọi người đều sẵn sàng", Nont Muangngam bức xúc khi trả lời phỏng vấn giới truyền thông Thái Lan. 
        </p>
        <br>
        <img alt ="image-main-news" src="{% static 'home/img/myWebsite/indra5.jpg' %}">
        <br>
        <p>
            Tuy nhiên, thủ thành này cũng cho rằng U22 Việt Nam đi tiếp là xứng đáng. Anh cảm thấy tiếc nuối bởi Thái Lan đã có tới 2 bàn dẫn trước nhưng không bảo vệ được thành quả. 
            <br>
            Trong buổi họp báo sau trận đấu, HLV Akira Nishino cũng bày tỏ sự tiếc nuối về tình huống nói trên: "Quyết định của trọng tài được đưa ra thì chúng ta cần lắng nghe và tuân thủ. Nhưng tôi vẫn cảm thấy thật sự đáng tiếc vì Nont Muangngam đã có phản xạ tốt và ngăn cản được cú đá phạt đền đầu tiên".
            <br>
            15h30 chiều nay, U22 Thái Lan sẽ đáp chuyến bay xuống sân bay Suvarnabhumi. Họ sẽ bắt tay ngay vào việc chuẩn bị cho VCK U23 châu Á trên sân nhà diễn ra vào tháng 1/2020.
        </p>
        <img alt="image-main-news" src="{% static 'home/img/myWebsite/indra12.jpg' %}">
      </div>
    </div>
     </div>
    <div id="otherNews" class="clearfix">
      <div id="columnFirst" class="box">
        <div class="news">
          <span class="titleNews">Phía sau tấm vé bán kết của U22 Việt Nam: Tiễn người, răn mình</span>
          <br>
          <span class="day">12th December 2019</span><br>
          <a href="#">Read The Full Story &#187;</a>
          <img alt="news-image" src="{% static 'home/img/myWebsite/news1.jpg' %}">
        </div>
        <div class="news">
          <span class="titleNews">"Toang" ngay từ vòng bảng nhưng sao Thái Lan vẫn tỉnh bơ: "Chúng tôi đến SEA Games với mục đích đá tập"</span><br>
          <span class="day">12th December 2019</span><br>
          <a href="#">Read The Full Story &#187;</a>
          <img alt="news-image" src="{% static 'home/img/myWebsite/news3.jpg' %}">
        </div>
        <div class="news">
          <span class="titleNews">HLV điển trai của U22 Campuchia: "Không việc gì phải sợ Việt Nam, chúng tôi sẽ giành HCV SEA Games" - 24 phút trước</span><br>
          <span class="day">12th December 2019</span><br>
          <a href="#">Read The Full Story &#187;</a>
          <img alt="news-image" src="{% static 'home/img/myWebsite/news4.jpg' %}">
        </div>                      
      </div>
      <div id="columnSecond" class="box">
        <div class="news">
          <span class="titleNews">"Xem giò" những tay săn bàn của U22 Campuchia - đối thủ của U22 Việt Nam tại bán kết SEA Games 30 - 32 phút trước </span><br>
          <span class="day">12th December 2019</span><br>
          <a href="#">Read The Full Story &#187;</a>
          <img alt="news-image" src="{% static 'home/img/myWebsite/news2.jpg' %}">
        </div>          
        <div class="news">
          <span class="titleNews">HLV đội tuyển nữ Việt Nam: "Thái Lan mới phải lo sợ khi gặp Việt Nam ở chung kết SEA Games 30" - 39 phút trước</span><br>
          <span class="day">12th December 2019</span><br>
          <a href="#">Read The Full Story &#187;</a>
          <img alt="news-image" src="{% static 'home/img/myWebsite/news5.jpg' %}">
        </div>
        <div class="news">
          <span class="titleNews">Cay cú vì Tiến Linh được đá lại penalty, cầu thủ Thái Lan quát vào mặt trọng tài "Ông là người Việt Nam đúng không"</span><br>
          <span class="day">12th December 2019</span><br>
          <a href="#">Read The Full Story &#187;</a>
          <img alt="news-image" src="{% static 'home/img/myWebsite/news6.jpg' %}">
        </div>                      
      </div>
      <div id="columnThird" class="box">
        <div class="news">
          <span class="titleNews">HLV Park Hang-seo tiết lộ gây sốc: "U22 Việt Nam cạn thể lực rồi, đá bằng tinh thần ở bán kết SEA Games thôi"</span><br>
          <span class="day">12th December 2019</span><br>
          <a href="#">Read The Full Story &#187;</a>
          <img alt="news-image" src="{% static 'home/img/myWebsite/news7.jpg' %}">
        </div>
        <div class="news">
          <span class="titleNews">Cho Tiến Linh đá lại phạt đền, trọng tài chính trận Việt Nam - Thái Lan hứng đủ gạch đá của fan Đông Nam Á</span><br>
          <span class="day">12th December 2019</span><br>
          <a href="#">Read The Full Story &#187;</a>
          <img alt="news-image" src="{% static 'home/img/myWebsite/news8.jpg' %}">
        </div>                      
      </div>
      </div>
{% endblock %}